input {
    -webkit-appearance: none;
}

input[type="time"] {
	min-height: 2.5rem;
}

.hidden {
    display: none;
}

.clock-icon {
    width: 100px;
    height: auto;
}

.btn-calc>.fas {
    padding: 0 5;
}